body {
	background-color: #191919;
	color: white;
	letter-spacing: 2px;
	font-size: 20px;
}
@font-face {
			font-family: "Determination Sans";
			src: url(DTM-Sans.otf);
		}
#homeContent {
	background-color: #000000;
	color: white;
	letter-spacing: 2px;
	font-size: 20px;
}

a:link {
	text-decoration: none;
	color: white;
}

a:visited {
	text-decoration: none;
	color: #cf331d;
}

a:hover {
	text-decoration: underline;
	font-weight: bold;
}

a:active {
	text-decoration: none;
}

#header {
	color: #ffbf00;
	font-size: 40px;
	letter-spacing: 2px;
	text-align: center;
	padding: 5px;
	font-family: "Determination Sans", Impact, "Ariel Black", "Courier New";
}

#footer {
	color: #ffbf00;
	font-size: 20px;
	letter-spacing: 2px;
	text-align: center;
	padding: 5px;
}
		h1 {
			text-align: center;
			color: white;
			font-size: 30px;
			letter-spacing: 2px;
		}
		input[type=button], input[type=submit], input[type=reset] {
    		background-color: #ffbf00;
    		border: none;
    		color: white;
    		padding: 16px 32px;
    		text-decoration: none;
    		text-align: center;
    		margin: 4px 2px2
    		cursor: pointer;
    		font-size: 25px;
}
	input[type=text] {
   			width: 100%;
    		padding: 12px 20px;
    		margin: 8px 0;
    		box-sizing: border-box;
    		border: 2px solid #ffbf00;
    		border-radius: 4px;
    		color: #000000;
}
textarea {
    		width: 100%;
    		height: 150px;
    		padding: 12px 20px;
    		box-sizing: border-box;
    		border: 2px solid #ffbf00;
    		border-radius: 4px;
    		background-color: white;
    		resize: none;
    		color: #000000;
		}
		select {
    		width: 100%;
    		padding: 16px 20px;
    		border: 2px solid #ffbf00;
    		border-radius: 4px;
    		background-color: white;
    		color: #000000;
		}
		label {
			font-weight: bold;
		}