body {
	background-color: #000000;
	color: white;
}

a:link, a:visited {
	background-color: #A00000;
	color: #000000;
	padding: 15px 25px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
}

a:hover, a:active {
	background-color: #3366CC;
	text-decoration: underline;
}
		td {
			font-style: italic;
		}
		tr:nth-child(odd) {
			background-color: #A00000;
		}
		tr:nth-child(even) {
			background-color: #4c4cff;
		}
		th {
			background-color: #191919;
		}