body {
	background-color: #191919;
	color: white;
	letter-spacing: 2px;
	font-size: 20px;
}
@font-face {
			font-family: "Determination Sans";
			src: url(DTM-Sans.otf);
		}
#homeContent {
	background-color: #000000;
	color: white;
	letter-spacing: 2px;
	font-size: 20px;
}

a:link {
	text-decoration: none;
	color: white;
}

a:visited {
	text-decoration: none;
	color: #cf331d;
}

a:hover {
	text-decoration: underline;
	font-weight: bold;
}

a:active {
	text-decoration: none;
}

#header {
	color: #ffbf00;
	font-size: 40px;
	letter-spacing: 2px;
	text-align: center;
	padding: 5px;
	font-family: "Determination Sans", Impact, "Ariel Black", "Courier New";
}

#footer {
	color: #ffbf00;
	font-size: 20px;
	letter-spacing: 2px;
	text-align: center;
	padding: 5px;
}