body {
	background-color: #000000;
	color: white;
	letter-spacing: 2px;
	font-size: 20px;
}

a:link {
	text-decoration: none;
	color: white;
}

a:visited {
	text-decoration: none;
	color: #cf331d;
}

a:hover {
	text-decoration: underline;
}

#header {
	color: #ffbf00;
	font-size: 40px;
	letter-spacing: 2px;
	text-align: center;
	padding: 5px;
}

#footer {
	color: #ffbf00;
	font-size: 20px;
	letter-spacing: 2px;
	text-align: center;
	padding: 5px;
}
