body {
	background-color: #000000;
	color: white;
}

a:link, a:visited {
	background-color: #A00000;
	color: #000000;
	padding: 15px 25px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
}

a:hover, a:active {
	background-color: #3366CC;
}